header{
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: top 1s;
}
.active{
    background: #ffffff;
    animation: visible 2s;
}
@keyframes visible {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* animated anchor bottom border */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00c6cf;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}